{% extends 'base.html'%}
{% load static%}
{% block content%}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="card border-light card-font">
            <div>
               <h3>About Us</h3>
               <p>In the middle of March 2020, the education world changed in the blink of an eye. One day, schools ran normally, as they had for many years — with millions of adults and young people gathering in school buildings and classrooms, working toward the goals of teaching and learning. The next day, with the coronavirus spreading, thousands of schools closed across the country. Teachers and students stayed at home. School districts scrambled to provide students with laptops and ensure internet access. Teachers scrambled to transfer their lessons and assignments to an online environment. Parents scrambled to offer their children support to process the abrupt change. And young people scrambled to make sense of it all.</p>
               <p>Welcome to Remote learning where the student and the educator, or information source, are not physically present in a traditional classroom environment. Information is being relayed through technology in this platfom, such as discussion, YouTube video tutorials and online assignments and assessments.</p>
            </div>
        </div>
    </div>
    {% endblock%}