{% load static%}
<!-- Footer-->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a
              href="https://api.whatsapp.com/send?phone=716916128&text=Hello%20and%20welcome...%20Websites,%20data%20analysis,%20computer%20and%20computer%20services%20are%20available.%20We%20value%20our%20customers%20thank%20you%20for%20contacting%20us."
            >
              WhatsApp
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://web.facebook.com/Comaren-P-102509292316521">
              Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/channel/UCCq1f9-784Y-v3F-3iEQwMA">
              YouTube
            </a>
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">
          Copyright &copy; Muthui 2022
        </div>
      </div>
    </div>
  </div>
</footer>
